.logo {
    margin-top: 60px;
    width: auto;
    height: auto;
}

.ractangle {
    position: absolute;
    margin-top: 10px;
    width: 430.8px;
    height: 416.41px;
    left: -5px;
    top: 200px;
}

.start_btn {
    position: absolute;
    width: auto;
    height: auto;
    left: 40px;
    top: 660px;
}

.size {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.size img {
    max-width: 100%;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}
