.logo {
    margin-top: 100px;
}

.ractangle {
    position: absolute;
    margin-top: 50px;
    width: 430.8px;
    height: 416.41px;
    top: 200px;
}

.start_btn {
    position: absolute;
    width: auto;
    height: auto;
    top: 724px;
}
